body {
    background-color: lightblue;
}

.App {
    max-width: 480px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
}

.add-todo {
    display: flex;
}

.add-todo__input {
    width: 70%;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 6px 0 0 6px;
}

.add-todo__btn {
    cursor: pointer;
    color: #ffffff;
    background-color: green;
    border: none;
    width: 30%;
    border-radius: 0 6px 6px 0;
}

.todo {
    list-style: none;
    padding-left: 0;
}

.todo li {
    display: flex;
    align-items: center;

}

.todo li:not(:last-child) {
    border-bottom: 1px dashed lightskyblue;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.checkbox:checked + span {
    text-decoration: line-through;
}

.delete-todo-item {
    margin-left: auto;
    cursor: pointer;
    color: #ffffff;
    background-color: red;
    border: none;
    width: 30%;
    padding: 10px;
    border-radius: 6px;
    max-width: 100px;
}